<!-- public/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var socket = io();
        var username = '<%= username %>';

        // Function to send message to a specific person
        function sendPrivateMessage(receiver) {
            var message = document.getElementById('message_' + receiver).value;
           // console.log(`receiver: ${receiver}, sender: ${username}, message: ${message}`);
            socket.emit('chat message', { sender: username, receiver: receiver, message: message });
            document.getElementById('message_' + receiver).value = '';
        }

        // Function to toggle message input field and button
        function toggleMessageForm(receiver) {
            var messageForm = document.getElementById('message_form_' + receiver);
            if (messageForm.style.display === 'none' || messageForm.style.display === '') {
                messageForm.style.display = 'block';
            } else {
                messageForm.style.display = 'none';
            }
        }

        // Function to receive private message from the server
        socket.on('private message', function(data) {
            var messages = document.getElementById('messages');
            var li = document.createElement('li');
            li.textContent = `${data.sender}: ${data.message}`;
            messages.appendChild(li);
        });

        // Send the username to the server when connected
        socket.on('connect', function() {
            socket.emit('join', username);
        });
    </script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
    <div class="bg-white shadow-md rounded-lg p-6 w-full max-w-3xl">
        <h1 class="text-2xl font-bold mb-4 text-center">Welcome <span class="text-blue-500"><%= username %></span>!</h1>
        <h1 class="text-xl font-bold mb-2 text-center p-4">User List</h1>
        <ul>
            <% users.forEach(user => { %>
                <li class="mb-4">
                    <div class="flex items-center">
                        <div class="mr-4">
                            <span class="font-semibold"></span> <%= user.username %>
                        </div>
                        <button onclick="toggleMessageForm('<%= user.username %>')" class="px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600"> Message</button> <br><br>

                        <div class="flex items-center">
                            <div id="message_form_<%= user.username %>" style="display: none;">
                                <input id="message_<%= user.username %>" class="mr-2 px-2 py-1 border border-gray-300 rounded" autocomplete="off" />
                                <button onclick="sendPrivateMessage('<%= user.username %>')" class="px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Send</button>
                            </div>
                        </div>
                    </div>
                </li>
            <% }); %>
        </ul>
        <h1 class="text-xl font-bold mt-8 mb-2">Messages</h1>
        <ul id="messages">
            <% messages.forEach(msg => { %> 
                <li class="mb-2"><span class="font-semibold"><%= msg.sender %>:</span> <%= msg.message %></li>
            <% }); %>
        </ul>
    </div>
</body>

</html>
