<!-- public/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

    <script>
        var socket = io();
        var username = '<%= username %>';

        // Function to send message to a specific person
        function sendPrivateMessage(receiver) {
            var message = document.getElementById('message_' + receiver).value;
            console.log(`receiver: ${receiver}, sender: ${username}, message: ${message}`);
            socket.emit('chat message', { sender: username, receiver: receiver, message: message });
            document.getElementById('message_' + receiver).value = '';
        }

        // Function to receive private message from the server
        socket.on('private message', function(data) {
            var messages = document.getElementById('messages');
            var li = document.createElement('li');
            li.textContent = `${data.sender}: ${data.message}`;
            messages.appendChild(li);
        });

        // Send the username to the server when connected
        socket.on('connect', function() {
            socket.emit('join', username);
        });
    </script>
</head>
<body>
    <h1>Welcome <%= username %>!</h1>
    <h1>User List</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <div class="user-messages">
                    <div>Username: <%= user.username %></div>
                    <div>
                        <input id="message_<%= user.username %>" autocomplete="off" />
                        <button onclick="sendPrivateMessage('<%= user.username %>')">Send</button>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
    <h1>Messages</h1>
    <ul id="messages">
        <% messages.forEach(msg => { %>
            <li><%= msg.sender %>: <%= msg.message %></li>
        <% }); %>
    </ul>
</body>
</html>
